<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值成功</title>
	<!--要求页面自动适应浏览器的屏幕-->
	<meta name="viewport"
		  content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link href="__PUBLIC__/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-info">
	<div class="panel-heading">
		<table frame="void">
			<tr>
				<td>
					<img src="__PUBLIC__/images/log.png" width="" height="50" />
				</td>
			</tr>
		</table>
	</div>
<h3>恭喜你！充值成功！！！</h3>


	<div>充值金额：<?php echo $money;?>元</div>
	<br>

</div>
</body>
</html>